{% extends 'bootstrap/base.html' %}

{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"
        <title>
            {% block title %}Flask Platzi |{% endblock %}
        </title>
{% endblock %}

{% block body %}
        {% block navbar %}   
                {% include 'navbar.html' %}
        {% endblock %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        {% endfor %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
            {{ super() }}   
        {% endblock %}
{% endblock %}
