{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %} 
    {{ super() }}
    Bienvenida 
{% endblock %}

{% block content %}
    {% if user_ip %}
    <h1>
        Hello, tu ip es {{ user_ip }}
    </h1>
    {% else %}
        <a href="{{ url_for('index') }}">ir a inicio</a>
    {% endif %}
    <div class="container">
         {{ wtf.quick_form(login_form)}}
    </div>
    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>
{% endblock %}
